@import "~bootstrap/scss/bootstrap";

.header {
  display: flex;
  padding: 2.5rem 0;
}

.notifications {
  align-items: center;
}

.number {
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: $primary-color-two;
}

.value {
  padding: 0.2rem 0.8rem !important;
  font-size: 1.2em !important;
  font-weight: 800 !important;
  font-family: $font-family-text !important;
  color: white !important;
}

.title-notify {
  font-weight: 800 !important;
  font-size: 1.46em !important;
  color: black;
  font-family: $font-family-text !important;
}

.mark-read {
  font-size: 1.1em !important;
  text-transform: none !important;
  color: $darkgrayishblue !important;
  font-family: $font-family-text !important;

  &:hover {
    color: $color-hover !important;
  }
}
