@import "~bootstrap/scss/bootstrap";

body {
  font-family: $font-family-text !important;
  font-size: $font-size-default;

  @include phone {
    color: red;
  }
}
.container {
  width: 650px !important;
  @include phone {
    width: 300px;
    background-color: blue;
  }
}
.layout-helper {
  border: 1px red solid;
}

.typ-hover {
  font-weight: 800 !important;
  font-size: $font-size-default !important;
  font-family: $font-family-text !important;

  color: $darkgrayishblue !important;
  margin-left: 0.5rem !important;

  &:hover {
    color: $color-hover !important;
    cursor: pointer !important;
  }
}

.message-container {
  margin-top: 0.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid $lightgrayishblue2;
  cursor: pointer;
}

.message-container:hover {
  background-color: $lightgrayishblue1;
}

.message {
  font-size: 1.4em;
  color: $darkgrayishblue;
}

.date {
  margin-top: 0.2rem;
  font-size: 1.3em;
  color: $grayish-blue;
}
.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;

  word-break: break-all !important;
}

.card {
  border-radius: 0.7rem !important;
}

.text-card {
  margin: 0 0.5rem !important;
  font-weight: 500 !important;
  font-size: $font-size-default !important;
  font-family: $font-family-text !important;

  color: $darkgrayishblue !important;
}
.name {
  font-weight: 800 !important;
  font-size: $font-size-default !important;
  font-family: $font-family-text !important;

  cursor: pointer;
  color: $verydarkblue !important;
  &:hover {
    color: $color-hover !important;
    cursor: pointer !important;
  }
}
