@import "~bootstrap/scss/bootstrap";

body {
  font-family: $font-family-text !important;

  @include phone {
    color: $primary-color-one;
  }
}
.container {
  width: 700px !important;
  @include phone {
    width: 370px;
  }
}
.layout-helper {
  border: 1px $primary-color-one solid;
}

.typ-hover {
  font-weight: 800 !important;
  font-size: $font-size-default !important;
  font-family: $font-family-text !important;
  margin-right: 1rem !important;
  color: $darkgrayishblue !important;

  &:hover {
    color: $primary-color-one !important;
    cursor: pointer !important;
  }
}

.message-container {
  margin-top: 0.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid $lightgrayishblue2;
  cursor: pointer;
}

.message-container:hover {
  background-color: $lightgrayishblue1;
}

.message {
  font-size: 1.4em;
  color: $darkgrayishblue;
}

.date {
  margin-top: 0.2rem;
  font-size: 0.9em !important;
  color: $grayish-blue;
}
.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $primary-color-one;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.status2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $primary-color-one;
  vertical-align: middle;
  padding: 0;
  margin-left: 0.5rem;
}
.card {
  border-radius: 0.7rem solid !important;
  border-color: $white !important;
  background-color: $verylightgrayishblue !important;
}

.text-card {
  font-weight: 500 !important;
  font-size: $font-size-default !important;
  font-family: $font-family-text !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;

  color: $darkgrayishblue !important;
}
.name {
  font-weight: 800 !important;
  font-size: $font-size-default !important;
  font-family: $font-family-text !important;

  cursor: pointer;
  color: $verydarkblue !important;
  &:hover {
    color: $color-hover !important;
    cursor: pointer !important;
  }
}

.img {
  &:hover {
    color: $primary-color-one !important;
    cursor: pointer !important;
  }
}
