@import "~bootstrap/scss/bootstrap";
@import url("../src/styles/abstracts/_colors.scss");

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background: hsl(210, 60%, 98%);
}
